@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 78, 216);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 29, 156);
}

.bg-brand {
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
  background: linear-gradient(90deg, #ffffff 0%, #0057f8 100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.animated {
  color: pink !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation;
  animation-name: animation;
}

@-webkit-keyframes animation {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0)
  }

  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

@keyframes animation {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-30%,0);
      transform: translate3d(0,-30%,0)
  }

  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}
